
</main>

<!-- footer -->
<footer class="footer" id="footer">
  <div class="footer__wrapper">
    <ul class="footer__listFrame">
      <li class="footer__listItem"><a href="" class="footer__snsLink footer__snsLink--twitter"></a></li>
      <li class="footer__listItem"><a href="" class="footer__snsLink footer__snsLink--instagram"></a></li>
      <li class="footer__listItem"><a href="" class="footer__snsLink footer__snsLink--note"></a></li>
    </ul>

    <p class="footer__copyright"><small>&copy;2020 Morishita Riku Portfolio</small></p>
  </div>
</footer>
<!-- footer ここまで -->
        <!-- end wrapper -->
