<body>
  <main>
    <header class="header">
      <div class="header__wrapper">
        <h1>
          <a class="header__homeLogo" href="./">Morishita Riku<span class="header__homeLogo--deco">Portfolio</span></a>
        </h1>
        <div class="header__button">MENU</div>
      </div>

      <nav class="gNav">
        <div class="gNav__wrapper">
          <ul class="gNav__listFrame--first">
            <li><a href="./#works" class="gNav__link" data-txt="WORK">WORK</a></li>
            <li><a href="./#skill" class="gNav__link" data-txt="SKILL">SKILL</a></li>
            <li><a href="profile.html" class="gNav__link" data-txt="PROFILE">PROFILE</a></li>
            <li><a href="https://note.com/rank228130" class="gNav__link" data-txt="BLOG" target="_blank">BLOG</a></li>
            <li><a href="contact.html" class="gNav__link gNav__link--deco" data-txt="CONTACT">CONTACT</a></li>
          </ul>

          <ul class="gNav__listFrame--second">
            <li><a href="#" class="gNav__snsLink gNav__snsLink--twitter" data-txt="twitter"></a></li>
            <li><a href="#" class="gNav__snsLink gNav__snsLink--instagram" data-txt="instagram"></a></li>
            <li><a href="https://note.com/rank228130" class="gNav__snsLink gNav__snsLink--note" data-txt="note"></a></li>
          </ul>
        </div>
      </nav>
    </header>
  </main>
</body>
