 <!-- CONTACT -->
  <section class="contact" id="contact">
    <div class="INNER">
      <h2 class="TITLE" data-txt="CONTACT">お問い合わせはこちら</h2>
      <div class="contact__border"></div>
      <a href="contact.html" class="BUTTON BUTTON--deco">CONTACT ME</a>
    </div>
    <!-- INNER ここまで-->
  </section>
  <!-- CONTACT ここまで -->
